* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  body {
    background-image: url("/img/fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
  }
  nav article img {
    width: 2rem;
    height: 2rem;
    padding-right: 1rem;
    margin-left: 1rem;
  }
  nav article h1 {
    font-size: 1.17rem;
    margin-block-start: 1em;
    margin-inline-end: 1em;
    font-weight: bold;
  }
  h1 {
    display: block;
    text-align: center;
    color: white;
    font-size: 4rem;
  }
  nav {
    background-color: rgb(147, 206, 216);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
  }
  nav article {
    display: flex;
    align-items: center;
  }
  nav ul {
    list-style: none;
    display: flex;
  }
  nav ul li {
    padding: 1rem;
  }
  li {
    display: list-item;
    text-align: -webkit-match-parent;
  }
  nav ul li a {
    text-decoration: none;
    color: rgb(14, 12, 12);
    font-weight: bold;
    font-size: 1.2rem;
    transition: 0.5s;
  }
  header {
    padding-top: 7rem;
    padding-bottom: 3rem;
  }
  header h1 {
    color: rgb(9, 53, 65);
    font-size: 4rem;
    text-shadow: 0 0 1rem #00000060;
    text-align: center;
  }
  label {
    font-size: 1.3rem;
    color: red;
  }
  input {
    width: 100%;
    padding: 1rem;
    font-size: 1.3rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    outline: none;
    border: 0.1rem solid #ccc;
  }
  button {
    border: 1px solid red;
    background-color: white;
    color: red;
    padding: 1rem;
    font-size: 0.8vw;
    font-weight: 600;
    border-radius: 0.5rem;
    display: block;
    margin: auto;
    margin-top: 2rem;
    cursor: pointer;
    transition: 0.3s ease-out;
    width: 40%;
  }
  #pokedex {
    margin-left: 10rem;
    margin-right: 10rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  a.card {
    width: 20rem;
    padding: 3rem;
    box-shadow: 0 0 1rem white;
    margin: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.5s;
    background-color: white;
    color: black;
    text-decoration: none;
    transition-duration: 0s;
    transition: ease-in-out;
  }
  a.card:hover {
    width: 370px;
    height: 360px;
  }
  a.card img {
    width: 15rem;
    height: 15rem;
  }
  a.card h2 {
    width: 100%;
    text-align: center;
    padding: 2rem;
    color: black;
  }
  #cadastro {
    padding: 3rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color:  rgb(147, 206, 216);
    margin: 0 20rem 10rem 20rem;
    box-shadow: 0 0 1rem #00000060;
    border-radius: 1rem;
  }
  section#details {
    margin: 0 20rem 0 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 2rem;
    padding: 3rem;
    box-shadow: 0 0 1rem #00000060;
  }
  section#details div#infos p {
    font-size: 2rem;
    padding: 3rem;
  }
  section#details div#infos div#info-datail h3 {
    font-size: 2rem;
    font-weight: 300;
    padding: 0.5rem 0 1rem 0;
  }
  section#details div#infos h3 {
    padding-top: 3rem;
    font-size: 2rem;
  }
  section#details div#infos h2 {
    background-color: rgb(54, 138, 82);
    padding: 1rem;
    color: white;
    border-radius: 1rem;
    width: 50%;
    text-align: center;
    margin-top: 1rem;
  }
  section#details div#infos div#info-datail {
    background-color: #ccc;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    width: 60%;
    border-radius: 1rem;
  }
  section#message {
    padding: 1.5rem;
    background-color: rgb(197, 255, 214);
    color: #7bca6c;
    position: fixed;
    top: 3rem;
    left: 0;
    right: 0;
    z-index: 100;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  span#close {
    font-size: 2rem;
    cursor: pointer;
    transition: .3s;
  }
  
  span#close:hover{
    color: rgb(255, 0, 0);
    transform: scale(1.5);
  }